html,
body,
main,
#app
#main-wrapper {
    height: 100%;
}

#dashboard {
    background-image: url("https://unsplash.it/1920/1080/?random");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
